*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: lawngreen;
}

.music-app {
    width: 85%;
    margin: 0 auto;

    #artist-input {
        width: 100%;
        padding: 6px;
    }

    #artist-container {
        background-color: #f2f2f2;
        margin-top: 6px;

        .artist {
            display: flex;
            background-color: white;
            padding: 6px;
            margin-top: 6px;

            &:first-child {
                margin-top: 0;
            }

            .artist-remove {
                margin-left: auto;
            }
        }
    }

    #track-container {
        .track {
            display: flex;

            .track-art {
                max-width: 240px;
                width: 100%;

                .track-art-img {
                    width: 100%;
                }
            }
        }
    }
}